.overlay{
    z-index: 100;
    font-size: 1rem;
    color: white;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000de;
    top: 0px;
    left: 0px;
}

.title{
    position: absolute;
    background-color: #980f0f;
    width: 46vw;
    height: 10vh;
    margin-top: -77px;
    font-size: 3rem;
    text-align: center;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    z-index: -1;
}

.wrapper{
    width: 50vw;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}


.icon{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 3rem;
    cursor: pointer;
}

.user{
    display: flex;
    justify-content: space-between;
    background-color: #84749a;
    padding: 10px;
    font-size: 2rem;
    border: 1px dotted black;
}

.list{
    height: 63vh;
    overflow: scroll;
    overflow-x: hidden;
}

.facade{
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}

@media screen and (max-width: 740px){
    .wrapper{
        width: 90vw;
      }

    .title{
        width: 77vw;
        height: 10vh;
        margin-top: -77px;
        font-size: 2.5rem;
        padding: 9px;
    }
}