<h1 class="looser-title">Perdiste</h1>

<div class="cover">
<div class="sad-face">

</div>
</div>

<div class="lost-message">Vida agotada</div>
<div class="lost-message-description">Necesitas mas concentracion para poder pasar</div>

<div class="colored-background">
  <div class="points">{{data.points}}</div>
  <div class="best">Record: {{data.record}}</div>
</div>


<div class="buttons-container">

  <div 
  (click)="backToMap()"
  class="button"
  type="button"
  value="Salir"
>
  <span class="bt-icon material-icons">reply</span>
</div>


</div>




